@media (max-width: 480px) {
    body {
        padding: 1rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    .btn {
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
    }

    .skill-card, .project-card {
        padding: 1rem;
    }

    .contact-info a {
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    #myskills > div {
        width: calc(0% - 0.5rem);
    }
}